{% include header %}

<h3 class="subtitle">Hello, {{ user.idRole.name|capitalize }} {{ user.firstname|default('John') }}.</h3>

<div class="content-wrapper">
    <div class="ueGrid">

        {% for ue in ues %}
            <div class="ueGridBox{{ loop.index }} ueBox">
                <a href="{{ path('ue_content', {'id': ue.id}) }}">
                <h4>{{ ue.code }}</h4>
                    {% if ue.illustration %}
                        <img src="{{ asset('uploads/ue_images/' ~ ue.illustration) }}" alt="{{ ue.code }}">
                    {% else %}
                        <img src="{{ asset('images/default_ue.png') }}" alt="Default Image">
                    {% endif %}
                </a>
            </div>
        {% endfor %}

        <div class="separator"></div>

        <div id="posts-container">
            {% if recentPosts is not empty %}
                {% for post in recentPosts %}
                    <div class="recent-post">
                        <h3>{{ post.title }} <small>({{ post.ue_code }})</small></h3>
                        <p>
                            {% if post.content|length > 100 %}
                                {{ post.content|slice(0, 100) }}...
                            {% else %}
                                {{ post.content }}
                            {% endif %}
                        </p>
                        <small>Publié le {{ post.post_date|date('d/m/Y H:i') }}</small>
                    </div>

                {% endfor %}
            {% else %}
                <p>Aucun post récent pour l'instant</p>
            {% endif %}
        </div>


    </div>
</div>

{% include footer %}
