{% include header %}

<h3 class="subtitle">Hello, {{ user.idRole.name }} {{ user.firstname|default('John') }}.</h3>
<div class="content-wrapper">
    <div class="ueGrid">

        {% for ue in ues %}
            <div class="ueGridBox{{ loop.index }} ueBox">
                <a href="{{ path('ue_content') }}">
                    <h4>{{ ue.code }}</h4>
                    {% if ue.illustration %}
                        <img src="{{ asset('uploads/ue_images/' ~ ue.illustration) }}" alt="{{ ue.code }}">
                    {% else %}
                        <img src="{{ asset('images/default_ue.png') }}" alt="Default Image">
                    {% endif %}
                </a>
            </div>
        {% endfor %}

        <div class="separator"></div>

        <div class="recent-posts">
            <div class="recent-posts-header">
                <h2>Publications récentes</h2>
            </div>
            <div id="posts-container">
                <div>
                    <p>Ici seront affichés les posts récents</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% include footer %}
