{% set styles = ['admin_users_style'] %}
{% set scripts = ['users_script'] %}
{% include 'PageParts/parts_header.html.twig' %}

<h3 class="subtitle">Registered users.</h3>

<div class="user-list-container">
    <div class="user-controls">
        <div class="search-container">
            <input type="text" id="userSearchInput" placeholder="Search for users by name, email, or role. (BETA)">
        </div>

        <button class="buttonlink add-btn">Add a new user</button>
    </div>

    <table id="user-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Role</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Encrypted Password</th>
            <th>Profile picture</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.idRole.name|capitalize }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>
                    {% if user.profilePicture %}
                        <img class="user-pfp" src="{{ asset('uploads/user_images/' ~ user.profilePicture) }}" alt="profile_picture">
                    {% else %}
                        <img class="user-pfp" src="{{ asset('images/default_pfp.png') }}" alt="default_pfp">
                    {% endif %}
                </td>
                <td>
                    <div class="man-del-btn-container">
                        <button class="buttonlink edit-btn" data-user-id="{{ user.id }}">
                            <img src="{{ asset('images/edit.png') }}" alt="edit" class="edit-img">
                        </button>
                        <button onclick="deleteUserRow({{ user.id }})" class="buttonlink del-btn">
                            <img src="{{ asset('images/delete.png') }}" alt="delete" class="delete-img">
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="userEditModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 id="user-modal-title">Edit User</h3>
        <div class="form-container">
            <form class="reg-log-form" action="{{ path('add_user') }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="user-index" name="user_index">

                <label for="user-first-name">First name</label>
                <input type="text" id="user-first-name" name="first_name" required>

                <label for="user-last-name">Last name</label>
                <input type="text" id="user-last-name" name="last_name" required>

                <label for="user-email">Email</label>
                <input type="email" id="user-email" name="email" required>

                <label for="user-password">Password</label>
                <input type="text" id="user-password" name="password" required>

                <label>Assign a role</label>
                <div id="radio-select-container">
                    {% for role in roles %}
                        <div class="role-option">
                            <label for="role-{{ role.name|lower }}">{{ role.name|capitalize }}</label>
                            <input type="radio" id="role-{{ role.name|lower }}" name="role" value="{{ role.id }}" class="radio-button">
                        </div>
                    {% endfor %}
                </div>

                <label for="profile-picture">Profile Picture</label>
                <input type="file" id="profile-picture" name="profile_picture">

                <button type="submit" id="user-modal-submit" class="buttonlink">Add / Update</button>
            </form>
        </div>
    </div>
</div>

{% include footer %}