
{% set styles = ['admin_ue_style'] %}
{% set scripts = ['ue_script'] %}
{% include 'PageParts/parts_header.html.twig' %}

<h3 class="subtitle">Current UEs.</h3>

<div class="ue-list-container">
    <div class="user-controls">
        <div class="search-container">
            <input type="text" id="ueSearchInput" placeholder="Search for UEs by code, name or description. (BETA)">
        </div>
        <button class="buttonlink add-btn">Add a new UE</button>
    </div>

    <table id="ueTable">
        <tr>
            <th>UE Code</th>
            <th>UE Name</th>
            <th>UE Description</th>
            <th>ECTS credits</th>
            <th>Illustration</th>
            <th> </th>
        </tr>
        <tr>
            <td>WE4A</td>
            <td>Technologies et programmation WEB</td>
            <td>Maîtriser les technologies Web permettant de créer des sites Web modernes</td>
            <td>3</td>
            <td><img class="ue-list-img" src="{{ asset('images/we4a_gpt.png') }}" alt="illustration1"></td>
            <td>
                <div class="man-del-btn-container">
                    <button class="buttonlink edit-btn"><img src="{{ asset('images/edit.png') }}" alt="edit" class="edit-img"></button>
                    <button onclick="deleteUERow()" class="buttonlink del-btn"><img src="{{ asset('images/delete.png') }}" alt="delete" class="delete-img"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>IT41</td>
            <td>Classical and Quantum Algorithms</td>
            <td>Aborder du point de vue des mathématiques la notion d'algorithme en étudiant/comparant le calcul classique et le calcul quantique.</td>
            <td>6</td>
            <td><img class="ue-list-img" src="{{ asset('images/it41_gpt.png') }}" alt="illustration2"></td>
            <td>
                <div class="man-del-btn-container">
                    <button class="buttonlink edit-btn"><img src="{{ asset('images/edit.png') }}" alt="edit" class="edit-img"></button>
                    <button onclick="deleteUERow()" class="buttonlink del-btn"><img src="{{ asset('images/delete.png') }}" alt="delete" class="delete-img"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>SI40</td>
            <td>Systèmes d'information</td>
            <td>Mettre en œuvre des outils de conception de systèmes d’information permettant la mise en application des méthodes associées</td>
            <td>6</td>
            <td><img class="ue-list-img" src="{{ asset('images/si40_gpt.png') }}" alt="illustration3"></td>
            <td>
                <div class="man-del-btn-container">
                    <button class="buttonlink edit-btn"><img src="{{ asset('images/edit.png') }}" alt="edit" class="edit-img"></button>
                    <button onclick="deleteUERow()" class="buttonlink del-btn"><img src="{{ asset('images/delete.png') }}" alt="delete" class="delete-img"></button>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="ueEditModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 id="ue-modal-title">UE settings</h3>
        <div class="form-container">
            <form class="reg-log-form" action="" method="POST">
                <label for="ue-code">UE Code</label>
                <input type="text" id="ue-code" name="ue_code" required>

                <label for="ue-name">UE Name</label>
                <input type="text" id="ue-name" name="ue_name" required>

                <label for="ue-description">UE Description</label>
                <textarea id="ue-description" name="ue_description"></textarea>

                <label for="ue-credits">Credits</label>
                <input type="number" id="ue-credits" name="ue_credits" required>

                <label for="ue-input-illustration">Upload an illustration</label>
                <input type="file" id="ue-input-illustration" name="ue_input_illustration">

                <button type="submit" id="ue-modal-submit" class="buttonlink">Update</button>
            </form>
        </div>
    </div>
</div>