{% set styles = ['admin_assignation_style'] %}
{% set scripts = ['assignation_script'] %}
{% include 'PageParts/parts_header.html.twig' %}

<h3 class="subtitle">Assign UEs to Students or Professors.</h3>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


<div class="assignation-list-container">
    <div class="assignation-controls">
        <div class="user-search-container">
            <input type="text" id="assignationUserSearchInput" placeholder="Search for students or professors. (BETA)">
        </div>
        <div class="ue-search-container">
            <input type="text" id="assignationUESearchInput" placeholder="Search for UEs. (BETA)">
        </div>
    </div>

    <div id="assignation-user-container">
        <table id="assignation-user-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody id="assignation-user-list">
            {% for user in users %}
                {% if user.idRole.name in ['student', 'professor', 'profadmin'] %}
                    <tr class="assignation-user-rows">
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td> {{ user.idRole.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <table id="assignationTable">
        <thead>
        <tr>
            <th>Available UEs</th>
            <th>Inscriptions for Selected Student</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <table id="assignation-available-ues">
                    {% for ue in ues %}
                        <tr class="assignation-ue-row">
                            <td>{{ ue.code }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <table id="assignation-registered-ues">
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="assignation-buttons">
        <button class="buttonlink" id="assignation-add-btn">Add</button>
        <button class="buttonlink" id="assignation-remove-btn">Remove</button>
    </div>
    <div class="confirm-button-container">
        <button class="buttonlink" id="assignation-confirm-btn">Confirm</button>
    </div>
</div>

<h4 class="subtitle">Inspired by ip.utbm.fr :)</h4>

{% include footer %}